*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

html{
    font-family: 'Baloo Bhai 2', cursive;
}
body {
    margin: auto;
}
header{
    width: 100%;
    position: relative;
}

.head { 
    background: rgba(24, 163, 140, 0.7);
    background-blend-mode: multiply;
}

.menu {
    display: flex;
}

.logo {
    background-color: #a7d7c5;
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 68px;
    font-weight: bold;
    color: #6c9894;
    margin: 0 0 0 30px;
}

.head-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.head-menu_point {
    flex: 1;
    text-align: center;
    list-style: none;
    background-color: #6c9894;
    padding: 0px 1.518em 0 1.518em;
}

.head-menu_point:hover {
    background-color: #305a57;
}

.menu-head {
    display: flex;
    flex: 1 ;
}

.link {
    text-decoration: none;
    color: white;
}

.head-title {
    width: 800px;
    margin: 0;
    height: 520px;
    padding: 90px 0 0 49px;
    color:white;
}
.title {
    color:white;
    font-size: 50px;
}
.head-title_p {
    font-size: 25px;
}
.section{
    background-color: #e2ede8;
}
.exit_button{
    display: flex;
    justify-content: end;
}
.exit{
    color: black;
    background-color: rgb(231, 170, 0);
    padding: 13px;
    font-size: 20px;
    border-radius: 25px;
    border: none;
    margin-top: 10px;
    margin-right: 20px;
    height: 50px;
    list-style: none;
    text-decoration: none;
    
}
.exit:hover {
    border: 3px solid rgb(231, 170, 0);
    background: transparent;
    color: rgb(231, 170, 0);
}
.form-resume{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 820px;
    width: 700px;
}
.form-resume .form-input{
    display: flex;
    align-items: center;
    width: 600px;
    
}
.form-input_text{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-input_text-date{
    margin-left: 20px;
}
.form-input_text-info{
    margin-left: 20px;
}
.form_text{
    width: 200px;
}
.info{
    height: 150px;
}
.resume {
    text-align: center;
    width: 400px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin-top: 5px;
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    height: 100px;
}
.button {
    padding: 13px;
    font-size: 20px;
    border-radius: 25px;
    border: none;
}
.employer {
    display: inline-block;
    background-color: rgb(218, 42, 42);
    width: 165px;
    color: white;
}
.employer:hover {
    background: transparent;
    border: 3px solid rgb(218, 42, 42);
    color: rgb(218, 42, 42);
}

.applicant {    
    display: inline-block;
    color: black;
    width: 165px;
    background-color: rgb(231, 170, 0);
}

.applicant:hover {
    background: transparent;
    color: rgb(231, 170, 0);
    border: 3px solid rgb(231, 170, 0);
}

.buttons-employer {
    padding: 10px;
    width: 200px;
    margin: 0;
}

footer{
    min-height: 550px;
    background-color: #f4f9f4;
    color: #6c9894;
    
}

.container{
    width: 1280px;
    margin: 0 auto;
}

footer .content{
    display: flex;
    justify-content: space-between;
}

footer .content .footer_title{
    width: 550px;
}

footer .content ul{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-right: 50px;
    
}

footer .content ul li{
    margin: 0;
    list-style: none;
    margin-top: 10px;
    font-weight: 300;
}

footer .content ul h2{
    margin: 0;
    font-weight: bold;
    margin-bottom: 20px;
    
}

.social_icon{
    margin: 0;
    fill: #6c9894;
    width: 32px;
    height: 32px;
    margin-right: 15px;
}

.social {
    display: flex;
   
    align-items:center;
}

.map{
    height: 450px;
}

.cards{
    width: 1000px;
    height: 500px;
    display: flex;
    justify-content: space-between;
}

.card{
    width: 200px;
    height: 200px;
    background-color:yellow;
}

.telephone{
    height: 70px;
    width: 70px;
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 30px;
    
}

.feedback{
    position: fixed;
    width: 350px;
    height: 550px;
    padding: 40px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    max-height: 80vh;
    overflow-y: auto;
    bottom: -700px;
    right: 10px;
}

.modal__input {
    display: block;
    margin: 20px auto 20px auto;
    width: 280px;
    height: 50px;
    background: #fff;
    box-shadow: 0 4px 15px rgb(0 0 0 / 20%);
    border: none;
    font-size: 18px;
    text-align: center;
    padding: 0 20px;
    outline: 0;
}

.modal__content{
    display: flex;
    height: 450px;
    align-items: center;
}

.modal__close {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 30px;
    color: #000;
    opacity: 0.5;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.modal__title {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
}


.btn {
    width: 280px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.3s all;
    outline: 0;
    margin: 0 auto;
    margin-top: 50px;
}

.btn_dark {
    background-color: #303030;
    color: #fff;
    border: none;
}

.btn_min {
    height: 50px;
}

.btn:hover {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

.show{
    display: block;
}

.hide{
    display: none;
}
.footer_li{
    list-style: none;
    
}
.footer_link {
    text-decoration: none;
    color: #6c9894;
}

.information{
    background-color: #f4f9f4;
    color: #6c9894;
}

.company {
    padding-top: 50px;
    padding-bottom: 50px;
}
.company h2 {
    text-align: center;
    margin-bottom: 30px;
}
.img_webp {
    float: left;
    width: 300px;
    margin-right: 20px;
}
.img_peop{
    width: 300px;
    height: 230px;
    
}
.text_comp {
    line-height: 3;
    margin: 0;
}
